<div class="card">
    <h2>Education</h2>
    <div class="edu">
        <div class="college">
            <h3>SRM Institute of Science And Technology</h3>
            <p>Bachelor of Science and technology</p>
            <p>C.G.P.A: 7.9</p>
        </div>
        
        <div class="school">
            <h3>St. Mary's Convent Inter College</h3>
            <p>Council for the Indian School Certificate Examinations</p>
            <p>Class 12th: 89.6%</p>
            <p>Class 10th: 87.83%</p>
        </div>
    </div>
</div>